[2022-09-23 18:20] samipak458 opened #1 "Want to add numbers to sub headings"
Like this
-1 ABC
-2 DEF
-3 GHI

[2022-09-23 18:20] samipak458 commented on #1
@KiranAminPanjwani kindly assign me. Thank you.

[2022-09-23 18:22] KiranAminPanjwani commented on #1
Sure, Go ahead!

[2022-09-23 18:30] #1 closed

[2022-09-24 15:45] samipak458 opened #4 "Designing needed in privacy policy page"
I will change background and font color. Kindly assign me this issue.

[2022-09-24 15:45] samipak458 commented on #4
@KiranAminPanjwani

[2022-09-25 05:05] sreejasaha19 commented on #4
Hey, I want to contribute to this issue. Can I work on this issue? If yes, could you please assign it to me.

[2022-09-25 10:58] KiranAminPanjwani commented on #4
Please create a new issue and briefly define the changes you want to make. Thank you.☺

[2022-09-26 19:05] #4 closed

[2022-09-29 12:27] tushartalesara opened #6 "Navbar buttons not functioning."
On clicking About, Products and Contact Us complete page reloads rather than this it should redirect to relevant section of the page.
Can you assign me this task as the part of hacktoberfest?

[2022-09-29 14:13] kunaaal13 opened #7 "Change the loading spinner"
The website loader looks pretty weird, i'd like to change the website loader

[2022-09-29 14:18] KiranAminPanjwani commented on #7
Yeah sure, please go ahead! 🤩

[2022-09-29 14:21] kunaaal13 commented on #7
great then

[2022-09-29 14:24] saimaheshtaduri commented on #6
can I work on this. if this is open ? @KiranAminPanjwani

[2022-09-29 14:27] sumitbishti opened #8 "Pointer not displaying for the links"
I would like to fix this bug!
![Screenshot (23)](https://user-images.githubusercontent.com/75713174/193058610-86944181-b175-47fe-9d4d-b49dc730e2c2.png)

[2022-09-29 14:32] KiranAminPanjwani commented on #8
Please add a screenshot as well.

[2022-09-29 14:35] KiranAminPanjwani commented on #6
Yeah sure, please go ahead! 🤩

[2022-09-29 14:36] sumitbishti commented on #8
Well i have added, but the cursor is not showing up in the screenshot instead of the cursor it should be hand pointer when hovering the INFO section at the bottom.

[2022-09-29 14:37] KiranAminPanjwani commented on #6
Create a separate new issue so that I can assign it to you. Try to add a separate page for "Products", if possible. 😊

[2022-09-29 14:45] KiranAminPanjwani commented on #8
Okay, got it! Please go ahead. 🤩

[2022-09-29 14:47] sumitbishti commented on #8
Sure

[2022-09-29 16:52] JadugarKalakaboola opened #9 "The UI could be enhanced."
Hi, nice website overall but in a few places UI can be improved.

1. The boxes are not aligned properly.
![image](https://user-images.githubusercontent.com/90437355/193091066-590a90d1-5b1c-453e-9b87-61b4390df4f1.png)
2. large empty space here.
![image](https://user-images.githubusercontent.com/90437355/193091215-c0679100-d746-4eaa-b9b3-7625412f9971.png)
3. Not centered properly.
![image](https://u

[2022-09-29 16:53] JadugarKalakaboola commented on #9
I would like to work on this project. Please assign this task to me this hacktoberfest :))

[2022-09-29 18:53] saimaheshtaduri opened #12 "Make "contact Us" form working in the website."
At present, the contact us form has just the UI part and the **send message** button has no functionality. I would like to make the form working and on click the send button, all form inputs are sent in the email.

[2022-09-29 18:59] Ashasindhu opened #13 "social partners are not visible"
In the contact section ,unable to see social partner in the dark mode.

[2022-09-29 19:01] Ashasindhu commented on #13
I want to work on this.can you please assign me

[2022-09-29 19:03] Ashasindhu opened #14 "login form"
we can create a login form with email and password.can I work on this.

[2022-09-29 20:35] terrifricker opened #16 "Feature Suggestion: Clicking on logo in footer links back to top of the page"
The LeatherHoard logo located in the upper left corner of the Footer section could be made a link back to the top of the page.

![Screen Shot 2022-09-29 at 1 37 51 PM](https://user-images.githubusercontent.com/51532684/193137478-b5162057-ca6f-4cd9-8462-e67098a90b7f.png)

The image could become a link element that when clicked does one of two things:
1. Reloads the page using href="https://leatherh

[2022-09-30 07:36] Vartika511 opened #17 "Imroving "Our New Arrivals" Section"
Hello, Myself a contributor from Hacktoberfest. "Our New Arrivals" Section of the page is looking very monotonous. It can we improved by using some great CSS effects. I would like to contribute to this issue . Please assign me this issue.

[2022-09-30 09:23] Wangata opened #18 "carousel slide"
Hey there,
I have seen the carousel slider and the information is pretty repetitive, I would like to add more information to the other sliders so that the user can have a variety of slides to look at when they first visit the site, I think it brings an amazing touch to a website.
Hence I would like to be assigned this issue. Thanks.

[2022-09-30 10:44] Janhvi52 opened #20 "Sections not updating!"
![2022-09-30 (2)](https://user-images.githubusercontent.com/97719669/193253215-a1ddff55-f646-4826-a844-1067ffa0cb58.png)

Upon clicking the about/product/contact/login options, we aren't directed to any new page it remains in the same page itself
Please assign me this issue @KiranAminPanjwani

[2022-09-30 11:14] KiranAminPanjwani commented on #12
Yeah sure, please go ahead! 🤩

[2022-09-30 11:14] KiranAminPanjwani commented on #13
Yeah sure, please go ahead! 🤩

[2022-09-30 11:23] amitanshusahu opened #21 "Seperate product page or redirecting to collection section"
### the product page isn't available for the site
 when clicked on products (in the nav) the site can be taken to the collection section but it would be better to have a product page..

![image](https://user-images.githubusercontent.com/83657737/193259259-b4e48ecf-8b6b-485d-a6f6-c0f725f0ea5c.png)

[2022-09-30 11:26] amitanshusahu commented on #21
### Request
i would like to work on this if you assign this to me... 😄
given , it its open for the <i>#hacktoberfest2022</i>

[2022-09-30 11:28] KiranAminPanjwani commented on #14
Yeah sure, please go ahead!🤩 Make sure the layout/design of the login form complements the overall design of the website.😊

[2022-09-30 11:31] KiranAminPanjwani commented on #16
Thank you for highlighting this, please go ahead! 🤩

[2022-09-30 11:32] KiranAminPanjwani commented on #17
Yeah sure, please go ahead! 🤩

[2022-09-30 11:35] KiranAminPanjwani commented on #9
Thank you for highlighting this, but I would urge you to look for other bugs if possible.😊

[2022-09-30 11:36] KiranAminPanjwani commented on #18
Yeah sure, please go ahead! 🤩

[2022-09-30 11:38] KiranAminPanjwani commented on #21
Yeah sure, please go ahead! 🤩

[2022-09-30 11:52] KiranAminPanjwani commented on #20
Kindly check, if the issue same issue is raised before. Try to find other bugs or add a new feature/section to the website.😊

[2022-09-30 13:57] Janhvi52 opened #22 "I would like to add a cancellation/refund policy for your product page Kindly assign me the same under hackotober fest 2022"
@KiranAminPanjwani

[2022-09-30 15:35] KiranAminPanjwani commented on #22
Yeah sure, please go ahead! 🤩

[2022-09-30 16:11] Janhvi52 commented on #22
Thankyou!

[2022-09-30 16:23] Ankit-11525 opened #23 "Add signin page"
pls assign me this issue

[2022-09-30 16:24] Ankit-11525 opened #24 "Add signup page"

[2022-09-30 16:25] Ankit-11525 commented on #24
pls assign me this issue

[2022-09-30 16:25] Ankit-11525 opened #25 "Add smooth scroll feature"

[2022-09-30 16:27] leesha19 opened #26 "contact us section"
hey there @KiranAminPanjwani , i want to improve contact us section as it is covering so much area and form is not looking good i want to make it more attractive

[2022-09-30 16:30] leesha19 opened #27 "links in Nav Bar"
the links in nav bar is not working as clicking about should land us on about section of the website

i want to contribute this for hacktoberfest 22

[2022-09-30 17:41] KiranAminPanjwani commented on #27
Kindly check, if the issue same issue is raised before. Try to find other bugs or add a new feature/section to the website.😊

[2022-09-30 17:41] KiranAminPanjwani commented on #25
Yeah sure, please go ahead! 🤩

[2022-09-30 17:42] KiranAminPanjwani commented on #24
Sure, please go ahead! 🤩

[2022-09-30 17:43] KiranAminPanjwani commented on #23
Kindly check, if the issue same issue is raised before. Try to find other bugs or add a new feature/section to the website.😊

[2022-09-30 17:44] KiranAminPanjwani commented on #26
Sure, please go ahead! 🤩

[2022-09-30 17:55] Ankit-11525 opened #28 "Adding new offer section & some extra features"
Adding new offer section for exclusive products.
Some extra features & effect with css to some sections of  webpage.
Please assign me!

[2022-09-30 18:18] KiranAminPanjwani commented on #28
Amazing! Please go ahead! 🤩

[2022-09-30 19:04] aryaupadhyay24 commented on #6
hello, I'm Arya Upadhyay I want to contribute on this issue

[2022-09-30 20:20] ArunBohra12 opened #29 "Adding A Dark Mode to the website"
Can we create a dark mode for the whole website? If yes, then I would like to work on it.

[2022-09-30 20:31] KiranAminPanjwani commented on #29
Sure, please go ahead! 🤩

[2022-09-30 20:55] gaurav-iitb commented on #29
I would also love to wok on it please assign it to me

[2022-10-01 02:55] rezwan2525 opened #31 "Make contact input fields more intuitive"
When we focus on any of the input fields from the `Contact us` form, that field doesn't reflect the user's action. I think we should show box shadow around the input field, something like the below image -
![focus-effect](https://user-images.githubusercontent.com/30120066/193383222-96cefb97-2794-4333-96b2-357417a8e37b.jpg)

Can I please include this in this project?

[2022-10-01 02:58] rezwan2525 opened #32 "CSS variables can be used for similar color"
We have used similar colors in multiple places of CSS property, can we please use variable for the similar color so that it becomes more maintainable ?

[2022-10-01 03:13] rezwan2525 opened #33 "Improve product category design"
In our collections section, the category image is not properly circular shaped, also each product category can be a bootstrap card to look nice.
Can we please do that?

[2022-10-01 03:29] AnkitMajee opened #34 "Read more functionality By redirecting to new page"
### Read More
**Needs to redirect to new page** with the same **nav bar , body section **and** footer** so that user can again navigate to the home  page

[2022-10-01 04:21] Wangata opened #37 "update ReadMe"
Want to update ReadMe

[2022-10-01 05:52] kunaaal13 opened #40 "Enhance the design of the privacy policy page"
The privacy policy page looks pretty basic now, I want to improve the design, please assign this to me under hacktoberfest label

[2022-10-01 05:56] kunaaal13 opened #41 "Improve the new arrival cards design"
As of now the cards look simple, there is no animation on hover, and not even the cursor is a pointer at hover, I want to fix these and make cards look more modern, please assign this to me

[2022-10-01 05:58] NeerajBhatt411 opened #42 "i want to change the design of scroll bar"

[2022-10-01 13:48] #8 closed

[2022-10-01 13:53] saimaheshtaduri commented on #12
@KiranAminPanjwani  may I use **smtpjs** to solve the issue ?

[2022-10-01 14:08] #21 closed

[2022-10-01 14:34] lognoroy commented on #26
Hii, @KiranAminPanjwani , i want to contribute. Please give a chance.

[2022-10-01 14:56] #9 closed

[2022-10-01 15:05] #6 closed

[2022-10-01 15:11] #13 closed

[2022-10-01 15:30] #16 closed

[2022-10-01 16:15] kunaaal13 opened #50 "Scroll progress bar"
**Description**
I want to add a scroll progress bar, it is generally seen in modern websites, would be a good edition to this website.

**Screenshots**
Like this scroll progress bar at the top
<img width="1438" alt="Screenshot 2022-10-01 at 9 44 18 PM" src="https://user-images.githubusercontent.com/84015751/193418443-577b2ccc-f837-4492-a8a0-1ab396b429c2.png">

[2022-10-01 16:15] #24 closed

[2022-10-01 16:29] KiranAminPanjwani commented on #50
Go for it! 😊
Note: Maintain the theme of the website. Try to use the same hex codes that are being used on the website.

[2022-10-01 16:33] #7 closed

[2022-10-01 16:41] KiranAminPanjwani commented on #23
Go ahead! 🤩

[2022-10-01 16:45] KiranAminPanjwani commented on #42
Sure! 🤩

[2022-10-01 16:49] #42 closed

[2022-10-01 16:50] Ankit-11525 commented on #23
I have already added both signup and signin page

[2022-10-01 16:54] knagar06 opened #54 "edit social media icons and images"
**Description**
A clear and concise description of the enhancement you propose, also include what you tried and what worked.

**Screenshots**
Add screenshots if applicable.

![image](https://user-images.githubusercontent.com/65702795/193419870-2813184d-74fc-4067-9e41-2e92b88e5379.png)

I suggest , if u edit size of social media line and icons of social media , then it looks more nice

[2022-10-01 17:03] KiranAminPanjwani commented on #54
Go ahead! 😊

[2022-10-01 17:10] yashyadav3701 commented on #54
can i contribute in this

[2022-10-01 17:35] #20 closed

[2022-10-01 17:37] #27 closed

[2022-10-01 17:38] KiranAminPanjwani commented on #31
Yeah sure, go ahead! 🤩

[2022-10-01 17:39] KiranAminPanjwani commented on #32
Yeah sure, go ahead! 🤩

[2022-10-01 17:41] KiranAminPanjwani commented on #34
Sure, go ahead! 🤩

[2022-10-01 17:42] KiranAminPanjwani commented on #37
Kindly provide a brief description of the changes you want to make. Thank you. 😊

[2022-10-01 17:42] #37 closed

[2022-10-01 17:43] KiranAminPanjwani commented on #40
Sure, please go ahead!

[2022-10-01 17:44] KiranAminPanjwani commented on #41
Sure, go ahead! 🤩

[2022-10-01 17:47] Wangata commented on #37
Oh yeah, I just saw a simple mistake here, "**The aforementioned** improvements will make it easier for visitors to browse the website and place online orders for new products."

[2022-10-01 18:14] minhaj-313 commented on #41
I want to Contribute in this Project for Hacktoberfest, If you Have any Issue then you can suggest me. I want to give my best

[2022-10-01 18:16] minhaj-313 commented on #40
I want to Contribute in this Project for Hacktoberfest, If you Have any Issue then you can suggest me. I want to give my best

[2022-10-01 18:18] kunaaal13 commented on #41
great then

[2022-10-01 19:24] eemike07 opened #56 "Fix CSS clipping for login//registration page"
### Description

CSS can be touched up for the Login//Register.  It looks like it is currently clipped.
(some reason, It won't let me attach screenshot).

Please assign to me :)

### Screenshots

_No response_

[2022-10-01 19:50] amitanshusahu opened #57 "Search Button is not working (bug & feature request)"
### Description

## The Search Button is not working

## To-Do 📝
- [ ] working search button which match the ui
- [ ] autosuggestion for products , useful links , and redirects
- [ ] caching searched data to show in recent search

### Screenshots

![image](https://user-images.githubusercontent.com/83657737/193425913-e9ebd050-af06-400c-a0a5-d0caf7ccb59f.png)

[2022-10-01 19:53] amitanshusahu commented on #57
### @KiranAminPanjwani ,  I would like to work on this 😄
given it's open for hacktoberfest2022 🌟

[2022-10-01 20:00] #29 closed

[2022-10-01 20:04] KiranAminPanjwani commented on #56
Sure, go ahead! 🤩

[2022-10-01 20:05] KiranAminPanjwani commented on #57
Yeah sure, please go ahead! 🤩

[2022-10-01 20:24] logic-404 opened #58 "Fixing products.html"
### Description

Wrong popup is given when the like button inside products.html is pressed. Kindly assign me the issue so I can start working on it.

### Screenshots

https://user-images.githubusercontent.com/76689021/193427033-30571f1a-09ff-49d2-b025-080f75a884ed.mp4

[2022-10-02 03:59] amitanshusahu commented on #58
## oops!! i missed it .. @logic-404  , my mistake..
if it gets assigned to you and if any help is required then then mention me in the comments, you can just console.log the e.traget and check for the childNodes .. and put this inside a " if " statement ...

### the overall logic would be like 👇🏻
if (e.target.activeElement.childNode["some value"].src) { /* don't pass the src value */}

[2022-10-02 04:10] nishtha53 opened #61 "footer links are redirecting to home page itself"
### Description

there should be seperate page for each pls assign to me i would like to work on it.

### Screenshots

_No response_

[2022-10-02 04:16] Nakamcode opened #62 "[FEATURE] Open graph"
### Description

### An open graph is a preview image that shows when a link is shared on social media
_for more info about open graphs read the blog below_
https://ahrefs.com/blog/open-graph-meta-tags/

### Screenshots

### Here's how the website looks when shared on social media

**it missing an image and description**

![captures_chrome-capture-2022-9-2 (2)](https://user-images.githubuserconten

[2022-10-02 09:36] #23 closed

[2022-10-02 10:09] AnshuPathak-88825 opened #64 "Contact button not working"
### Description

https://user-images.githubusercontent.com/78332454/193448810-c102d009-60eb-424e-8db5-93fcecf67637.mp4

contact button should've link of contact section

### Screenshots

_No response_

[2022-10-02 10:10] AnshuPathak-88825 commented on #64
pls assign me this @KiranAminPanjwani

[2022-10-02 10:18] AnshuPathak-88825 opened #65 "In product.html page navbar links aren't there"
### Description

Want to add links to all the nav-icons because they're not working properly
@KiranAminPanjwani pls assign me this issue

### Screenshots

_No response_

[2022-10-02 10:23] AnshuPathak-88825 opened #66 "Exit cursor should be pointer"
### Description

This exit icon should be cursor pointer

### Screenshots

![image](https://user-images.githubusercontent.com/78332454/193449323-a1e0d03a-6fd0-464b-b2c6-454bf1cde4d0.png)

[2022-10-02 10:24] AnshuPathak-88825 commented on #66
pls assign me this issue

[2022-10-02 10:29] knagar06 commented on #54
pls merge my pull request
in social media change

[2022-10-02 10:54] kritiag20 commented on #61
hi I want to work on this issue.

[2022-10-02 10:55] kritiag20 commented on #33
Hi @rezwan2525, I want to work on this issue please assign to me

[2022-10-02 11:11] rezwan2525 opened #68 "[Bug] Social icons should be consistent in all pages"
### Description

**How to reproduce:**

1. Go to the footer section of the home page and hover over social icons
2. Go to the footer section of login page and hover over social icons
3. Observe they behave differently in the above step 1 and step 2

**Expected behavior:** The social icons should be consistent/same on all pages of the website.

**Actual behavior:** In the footer section, when we ho

[2022-10-02 11:30] Ankit-11525 commented on #28
i have added offer section and pulled a request .
please accept it

[2022-10-02 11:44] rezwan2525 opened #70 "[Bug] Wrong menu selected in login page"
### Description

Instead of the login menu selected, we can see 'Home' menu is active/selected on the login page. Can I please work on this?

### Screenshots

![image](https://user-images.githubusercontent.com/30120066/193452209-1a0098ee-e892-479a-b9ab-b40955825426.png)

[2022-10-02 12:07] kritiag20 commented on #68
@rezwan2525 I want to work on this issue.

[2022-10-02 12:10] KiranAminPanjwani commented on #70
Sure, go ahead! 🤩

[2022-10-02 12:11] rajutkarsh07 commented on #54
Can I work on this issue?

[2022-10-02 12:12] KiranAminPanjwani commented on #68
@rezwan2525 Please go ahead! 🤩

[2022-10-02 12:21] KiranAminPanjwani commented on #58
@logic-404 Please go ahead! 🤩

[2022-10-02 12:22] KiranAminPanjwani commented on #61
@nishtha53 Please go ahead! 🤩

[2022-10-02 12:23] KiranAminPanjwani commented on #62
Sure, please go ahead! 🤩

[2022-10-02 12:24] KiranAminPanjwani commented on #64
Sure, please go ahead! 🤩

[2022-10-02 12:25] KiranAminPanjwani commented on #65
Please go ahead! 🤩

[2022-10-02 12:26] KiranAminPanjwani commented on #66
Please go ahead! 🤩

[2022-10-02 12:27] nishtha53 commented on #61
@KiranAminPanjwani please assign to kriti. My all 4 PR's are done. If no one will do let me know I will complete this task!

[2022-10-02 13:12] #50 closed

[2022-10-02 13:15] nihshesh opened #73 "Contact Button is not working properly."
### 🎇 Description

The contact button on the Home page is not directed towards the "Contact us" section. Can I work on this issue?

### 🖼 Screenshots

![issue hacktober](https://user-images.githubusercontent.com/61341935/193455854-e487c8e8-0df4-4a44-af7b-7c3fa2c15f92.PNG)

[2022-10-02 13:26] pldnz opened #74 "[FEATURE] Improve collection card"
### 🎇 Description

We could put some effects on hover and create some ctas on cards in collections, what do you think?

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/23089040/193456522-a4f891f0-9dd3-4c47-acc2-7cbb0a275f9b.png)

[2022-10-02 13:37] kunaaal13 commented on #50
Hey pls add hactoberfest accepted label pr issue no #50

[2022-10-02 14:45] pldnz opened #77 "Reduce cumulative layout shifts"
Through pagespeed insights it is possible to see that the site has some CLS, we could improve this by defining width and height for the images.

![image](https://user-images.githubusercontent.com/23089040/193460147-b692b151-6803-4454-84c0-462367d7a9ed.png)

![image](https://user-images.githubusercontent.com/23089040/193460177-c1e60e7a-80cd-444d-90ae-6abfeaf48a89.png)

[2022-10-02 15:23] #28 closed

[2022-10-02 15:26] KiranAminPanjwani commented on #73
Kindly check, if the issue same issue is raised before. Try to find other bugs or add a new feature/section to the website.😊

[2022-10-02 15:26] #73 closed

[2022-10-02 15:29] KiranAminPanjwani commented on #74
Sure, please go ahead! 🤩

[2022-10-02 15:29] akshatjainei opened #78 "[FEATURE] Social Media icons redirection"
### 🎇 Description

Social media icons are not properly managed in different pages also they are dummy button not working so make them redirect towards admins social media handles

### 🖼 Screenshots

_No response_

[2022-10-02 15:29] akshatjainei commented on #78
Can I be assigned for this issue?

[2022-10-02 15:36] KiranAminPanjwani commented on #77
Ok,ay work on it. I will look at the output and merge it if the output makes the website look appealing. 🤩✨

[2022-10-02 15:38] KiranAminPanjwani commented on #78
Kindly check, if the issue same issue is raised before. Try to find other bugs or add a new feature/section to the website.😊

[2022-10-02 15:38] #78 closed

[2022-10-02 15:39] amitanshusahu opened #79 "[FEATURE] : a dedicated About page can be created for the site"
### 🎇 Description

### when clicked on **Read more** it must redirect to a about page...
**there can be 2 approaches to make this**
- we could add sections about the project , the admin , the contributors , how to contribute (form contribute.md),..etc.
- or add section about the company , and stuffs .. being in the scope of the site

### 🖼 Screenshots

![image](https://user-images.githubuserconten

[2022-10-02 15:40] #31 closed

[2022-10-02 15:51] amitanshusahu commented on #79
### if assigned to me under hactoberfest , i would like to work on this ..
if the about page is going to be about the project then , about admin , contributors etc can be fetched from the **_github api_** and displayed with  **_real-time data_** , and the contribution.md file can be read with js using  _**FileReader()**_  if possible , it works with input file , but not sure if it can read any hre

[2022-10-02 16:19] #57 closed

[2022-10-02 16:24] KiranAminPanjwani commented on #79
I would love it if the "About Us" page would be "About the Company" since this is a website that represents the Leather Hoard Company.😊

[2022-10-02 18:02] #70 closed

[2022-10-02 18:02] #68 closed

[2022-10-02 18:14] IpsitaSenapati commented on #54
I would like to work on this issue. Please assign it to me.

[2022-10-02 18:18] #77 closed

[2022-10-02 20:38] Nakamcode commented on #62
thanks

[2022-10-02 21:39] AnshuPathak-88825 commented on #64
Made pr for this issue pls review it and merge it

[2022-10-02 22:03] AnshuPathak-88825 commented on #66
pls review my pull request then merge it

[2022-10-02 22:08] AnshuPathak-88825 opened #85 "Want to contributor page"
### 🎇 Description

pls assign me this issue

### 🖼 Screenshots

![Screenshot (20)](https://user-images.githubusercontent.com/78332454/193478435-699dff5d-f410-4043-a8a8-76c36ea950c0.png)
Like this

[2022-10-03 07:24] ArunBohra12 opened #88 "Clicking on heart icon in products page gives wrong preview image"
### 🎇 Description

In `/html/products.html` route when we click on a product we get to see its preview in a modal which is expected. But the problem is that when we click on the heart in the product card. We see the heart image in the preview instead of the product image.

### 🖼 Screenshots

<img src="https://user-images.githubusercontent.com/94133102/193521615-79808f82-574f-472f-a9d3-38de6dbb95ea

[2022-10-03 08:03] saimaheshtaduri commented on #12
@KiranAminPanjwani

[2022-10-03 12:42] KiranAminPanjwani commented on #85
Where do you want to add the "contributors section"?

[2022-10-03 12:44] KiranAminPanjwani commented on #88
Sure! 🤩

[2022-10-03 12:54] #58 closed

[2022-10-03 12:59] #64 closed

[2022-10-03 13:06] VidishaAG commented on #54
Can I work on this issue please? I aim to provide a good background to the icons and hover-over styles. Also, the google icon is not so appealing I would like to change that. @KiranAminPanjwani

[2022-10-03 13:40] AnshuPathak-88825 commented on #85
![image](https://user-images.githubusercontent.com/78332454/193591802-6c642025-2565-43e9-a3d5-9c5e4303b7db.png)
like this I wanna add contributor button in navbar

[2022-10-03 15:34] #40 closed

[2022-10-03 15:54] KiranAminPanjwani commented on #33
Actually, I don't want to change their shape. But yes, you can make their titles clickable. So that users can open a particular category by clicking on its name and can see more variety of product cards.

For example here, only one type of shoe is shown here. While there are many more colors and designs of shoes for men's formal collections.

![image](https://user-images.githubusercontent.com/9032

[2022-10-03 16:16] Aarav238 commented on #26
Hii @KiranAminPanjwani , Please assign this issue to me.

[2022-10-03 18:13] #79 closed

[2022-10-03 18:35] #66 closed

[2022-10-03 20:23] AnshuPathak-88825 opened #92 "Add to cart functionality"
### 🎇 Description

pls assign me this issue

### 🖼 Screenshots

_No response_

[2022-10-03 20:26] AnshuPathak-88825 opened #93 "Add scroll to top"
### 🎇 Description

I want to fixed a button in bottom that take us to top of the webpage
pls assign me this issue
@KiranAminPanjwani

### 🖼 Screenshots

_No response_

[2022-10-03 21:19] AjayMaheshwari23 opened #94 "Dropdown is overlapping text in smaller screen's ."
### 🎇 Description

When we use the website in a smaller screen size ( an smartphone size ) , the dropdown on the home page overlaps the text of home page , so i want to fix that .  I am attaching a video demonstration the same . Kindly assign it to me , i will fix it .

### 🖼 Screenshots

https://user-images.githubusercontent.com/96301800/193684166-09fb6c3e-be65-4fa0-950b-310c690b117a.mov

[2022-10-04 01:04] jsapuyesp commented on #93
Can i work in this issue? @KiranAminPanjwani

[2022-10-04 01:35] AnshuPathak-88825 commented on #93
Bro I've already asked to assign me you can raise another issue @jsapuyesp

[2022-10-04 07:43] Samaresh-Das opened #95 "[FEATURE] Hover effect on section 2 and new arrivals card"
### 🎇 Description

Hover effect on section 2 and new arrivals card on home screen. May I work on this under hacktoberfest label?

### 🖼 Screenshots

![Screenshot 2022-10-04 131217](https://user-images.githubusercontent.com/86469290/193762889-30285d56-c3cb-4ca0-a1ab-6e3b6c015e16.png)
![Screenshot 2022-10-04 131239](https://user-images.githubusercontent.com/86469290/193762895-21a0a997-43c0-4b15-bd1f

[2022-10-04 07:46] Samaresh-Das opened #96 "BUTTONS, PRODUCTS PAGE NAV PROBLEMS"
### 🎇 Description

The buttons on the first on section 1 aren't doing anything and the new arrivals or products page nav is buggy. May I work on this under hacktoberfest label?

### 🖼 Screenshots

_No response_

[2022-10-04 08:41] LalitChauhan27 commented on #54
Hey @KiranAminPanjwani the one you assigned this issue to is already unassigned himself. Currently, there is no one working on this issue. You can assign me so that I can work on this issue.

[2022-10-04 11:25] AshishRaikwar1290 commented on #92
assign me this issue

[2022-10-04 11:29] AnshuPathak-88825 commented on #92
see above message I've already asked to assign me

[2022-10-04 13:40] AnshuPathak-88825 opened #97 "Add carousal in customer review"
### 🎇 Description

Want to carousal in customer review
pls assign this issue

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/78332454/193834130-f2757702-450e-48fc-8c1b-94128eff6e48.png)

[2022-10-04 13:41] AnshuPathak-88825 commented on #97
@KiranAminPanjwani  pls assign this issue

[2022-10-04 19:04] terrifricker commented on #93
There is not a button to take you back to the top of the webpage, but the logo in the footer links back to the top of the webpage.

[2022-10-04 19:45] terrifricker opened #98 "Clean up filenames and folder organization"
### 🎇 Description

Some files are not named consistently with the current files.  Some files are not located in the proper html and css folders.  Pathnames to css links and <a> tags will need to be updated at the same time.  These are the exact changes I see as of this moment.

_File name changes_
PrivacyPolicy.html to privacy-policy.html
logincss.css to login.css
privacyPolicy.css to privacy-poli

[2022-10-04 20:08] terrifricker commented on #98
I am realizing that with a time difference of exactly 12 hours (I'm in Pacific, UTC -8) the timing could be difficult.  Here are the corrections needed as of October 5, 1 am.

privacy-policy.html
line 9 <link rel=”stylesheet” href=”../css/privacy-policy.css” />

login.html
line 30 <link rel=”stylesheet” href=”../css/login.css” />
line 174 <a href=”../html/privacy-policy.html”>Privacy Policy</a></l

[2022-10-05 03:27] Anjuli08 opened #99 "Effect on social media icons and subscribe button in footer"
### 🎇 Description

The hover effect on social media icons and subscribe button in the footer is not good. I would like to improve this under Hactoberfest22

### 🖼 Screenshots

_No response_

[2022-10-05 05:29] #25 closed

[2022-10-05 13:21] gaurav-2-0-0-2 opened #101 "Hovering problem on buttons and texts"
### 🎇 Description

So, there is this hovering problem when you put cursor on links in scrollbar in mobile dimensions and also in some of the buttons the hovering animation is very "slow".

I want to contribute to this website I like the style of it, will be happy if am able to make some changes.

### 🖼 Screenshots

![opensouce](https://user-images.githubusercontent.com/98230369/194070613-731966f3-

[2022-10-06 11:36] JatinSingh08 commented on #101
Hey @gaurav-2-0-0-2 , Can you please assign this issue to me ?

[2022-10-06 16:02] KiranAminPanjwani commented on #93
@AnshuPathak-88825 Please go ahead. 😊

[2022-10-06 16:03] KiranAminPanjwani commented on #95
Sure! 😊

[2022-10-06 16:04] KiranAminPanjwani commented on #96
Please go ahead! 🤩

[2022-10-06 16:05] KiranAminPanjwani commented on #97
Please provide a brief description of the changes you want to make.

[2022-10-06 16:07] KiranAminPanjwani commented on #99
Pleas go ahead! 🤩

[2022-10-06 16:45] AnshuPathak-88825 commented on #97
I wanna add timer to customer review that every review automatically change every 2 second

[2022-10-07 01:23] Kpallavi5 commented on #14
Hyy i want to work on this issue.. Can you please assign me..?

[2022-10-09 13:29] pldnz commented on #74
could you please accept my pr

[2022-10-09 17:03] ArunBohra12 opened #110 "Need better architecture for the application"
### 🎇 Description

As the project is improving and getting big, I see a lot of files unorganized without any development environment. Can we change it to have some sort of file management using something like vite or some other npm package?

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/94133102/194769897-8fad037b-794b-40de-8b56-40a043c68974.png)

[2022-10-09 17:57] Ayushbajpai19 commented on #54
Hello, can i work on this issue please?

[2022-10-09 18:13] Pallavibahekar opened #111 "Adding more images in gallery section with carousel effect"
### 🎇 Description

In this issue I will be adding new  food items .

### 🖼 Screenshots
![Screenshot 2022-10-10 003346](https://user-images.githubusercontent.com/97456579/194774947-76148d1f-2f62-4149-81e5-e9ea80016ab5.png)

[2022-10-09 18:50] #74 closed

[2022-10-09 19:10] #93 closed

[2022-10-09 19:13] Pallavibahekar commented on #111
could you please assign me this issue under hactiberfest2022, @KiranAminPanjwani .

[2022-10-09 19:15] KiranAminPanjwani commented on #95
I really like the animation you have used in the "New Arrivals" section.✨ I will merge your PR.

But the animation in this section👇 is not needed. Please remove it. Thank you.
![image](https://user-images.githubusercontent.com/90326051/194775378-9a063c1c-e3f6-4fd5-b1f9-e959047e9c13.png)

[2022-10-09 19:23] Samaresh-Das commented on #95
Ok. I will  do it within tomorrow.😅

[2022-10-09 19:27] #111 closed

[2022-10-09 19:27] KiranAminPanjwani commented on #97
okie try it

[2022-10-09 19:54] Swati002 opened #113 "Improve the Hover Effect of the button."
### 🎇 Description

Please assign this issue to me!
Improve the Hover Effect of the button. Text not visible properly

### 🖼 Screenshots

_No response_

[2022-10-09 20:08] stringer1000 opened #114 "Poor Contrast in Social Icons and add Link Cursor to Links"
### 🎇 Description

* Due to poor contrast of social icons in the footer, they are not visible when hovered.
* Add Link cursor to the links in the footer

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/115400732/194777331-a643f4f4-f9e7-4942-9eb3-148799a0664c.png)

[2022-10-09 21:19] Pallavibahekar opened #115 "enter your mail section is not working"
### 🎇 Description

When you click on see more in products section, then Enter email button is not working

### 🖼 Screenshots

_No response_

[2022-10-09 21:23] Pallavibahekar opened #116 "navbar on resizing website"
### 🎇 Description

search section overlaps with other nav like this  as shown in screenshots.

### 🖼 Screenshots

![2022-10-10 (7)](https://user-images.githubusercontent.com/97456579/194780022-5a695ae7-a274-436e-9d06-2934df6ef29d.png)

[2022-10-10 02:42] priyank003 commented on #114
Please assign this issue to me

[2022-10-10 04:44] AditiSingh2003 opened #117 "The text is not readable as the color is so dull"
### 🎇 Description

When the user try to read that section it is not clearly readable and is not in contrast with the background color.
Hence the user is not able to read the description about the product.

### 🖼 Screenshots

<img width="945" alt="hacktober" src="https://user-images.githubusercontent.com/97729662/194800372-92cf9d2c-a7e8-4af6-a9d1-ac56118313cc.png">

[2022-10-10 08:08] Vineet-0 opened #118 "TEXT COLOUR CORRECTION in Dark Mode"
### 🎇 Description

when we switch from light to dark mode some text is visible but some are not so I will try to improve text coloring to male it easy to be visible in dark mode

Hope u find is use full and please assign me as soon as possible

### 🖼 Screenshots

<img width="1117" alt="Screenshot 2022-10-10 at 1 31 33 PM" src="https://user-images.githubusercontent.com/79512518/194822198-08bb26fe-f

[2022-10-10 12:17] KiranAminPanjwani commented on #114
Go ahead!😊

[2022-10-10 12:18] KiranAminPanjwani commented on #115
Fix this issue. Go ahead!🤩

[2022-10-10 12:18] KiranAminPanjwani commented on #116
Go ahead!

[2022-10-10 12:19] KiranAminPanjwani commented on #117
Sure, go ahead!😊

[2022-10-10 12:20] KiranAminPanjwani commented on #118
What color will you use?

[2022-10-10 12:24] Vineet-0 commented on #118
dark yellow and white

[2022-10-10 13:16] theanimator20 opened #120 "Adding a Reset button for contact us form for better user experience"
### 🎇 Description

It would have been better if we could have add a Reset button for contact us form in order to improve the **user experience**.So if a user makes a error while filling the details  at a couple of places they could directly reset the form without much trouble.

i would like to work on this issue.
![co](https://user-images.githubusercontent.com/97297724/194875225-19fbf232-d02f-4861

[2022-10-10 13:17] theanimator20 commented on #120
@KiranAminPanjwani  i would like to work on this issue

[2022-10-10 13:19] Aarav238 opened #121 "Hover Transition effect on products."
### 🎇 Description

I want to add transition effect  on hovering on product , this will give a great experience to the users. I want to add this feature in the attached screenshot.

### 🖼 Screenshots

![before](https://user-images.githubusercontent.com/95538627/194875595-204e43fc-b3e1-41db-b219-2aad8ad98aad.png)

[2022-10-10 14:07] saigoud25 commented on #114
Can I work on this?

[2022-10-10 16:33] SaiSantosh2209 opened #124 "Social media links are not working"
### 🎇 Description

* I was going through your website and I found that your social media handles were not working  in the "Contact Us" section .
* I will attach all of your social media handle links so that it will be accessible for the others who will be viewing your website.

### 🖼 Screenshots

![Screenshot (1)](https://user-images.githubusercontent.com/83724995/194913141-f8f85eaf-d5e9-405b-be9a

[2022-10-10 16:47] SaiSantosh2209 opened #125 "Contact Us description isn't proper"
### 🎇 Description

* I want to replace the lorem ipsum text present in the contact us section with some proper Text for enhancing the user experience
* I will just provide a brief description about your website in the contact us section .

### 🖼 Screenshots

![Screenshot (2)](https://user-images.githubusercontent.com/83724995/194915378-9a1ae02a-1478-401c-b9f8-0b0356b8e6dc.png)

[2022-10-10 17:20] SaiSantosh2209 opened #126 "Replace top text in the button with an arrow"
### 🎇 Description

*  I would like to replace the top icon  with the arrow icon so that it will be more understandable for the user to use this particular feature

### 🖼 Screenshots

![Screenshot (4)](https://user-images.githubusercontent.com/83724995/194920834-372a8076-701a-4015-98cc-73f919e0795d.png)

[2022-10-10 17:37] SaiSantosh2209 opened #127 "Adding Hovering Feature"
### 🎇 Description

* I would like to add the hovering feature in the "Our New Arrival " Section in your website.
*   The hovering feature will be similar to  which is used "Our Collection" section .

### 🖼 Screenshots

![Screenshot (5)](https://user-images.githubusercontent.com/83724995/194923343-e91a1e90-1c9e-4c77-9b92-9df0ebfa8dd1.png)

[2022-10-10 17:52] aaushitiwari commented on #127
Can you assign me this issue and also add the labels of hacktoberfest to it!

[2022-10-10 20:32] abitsalihu commented on #126
Hey, I would like to work on this issue. :)

[2022-10-10 20:39] abitsalihu commented on #121
Hey, I would like to work on this issue. :)

[2022-10-10 22:34] Tahree22 commented on #65
Hello, can I work on this issue?

[2022-10-11 03:58] AnshuPathak-88825 commented on #65
I'll resolve it today you can raise another issue @Tahree22

[2022-10-11 07:36] Mahak008 opened #130 "Create Counter on About Us Page"
### 🎇 Description

As 1000+ million sales is written, on loading the page it will count and increase from 0 to 1000.

### 🖼 Screenshots

_No response_

[2022-10-11 13:06] SreenikaMyakala opened #131 "Social media icons on the footer section can be enhanced"
### 🎇 Description

If approved then please assign this task to me i will work on it

### 🖼 Screenshots

_No response_

[2022-10-11 13:43] yashjoshi-dotcom opened #132 "[FEATURE] Responsive FAQ Page in Accordion dropdown format"
### 🎇 Description

I just noticed that the FAQ link on the footer of the website is not working. I would like to add an FAQ page in a collapsible format with the theme similar to that of the whole website. I can do this with plain HTML or bootstrap, whichever you deem suitable.
A sample screenshot has been provided below for your reference.

### 🖼 Screenshots

![image](https://user-images.githubus

[2022-10-11 13:53] Aarav238 commented on #121
As i Have raised this Please Assign this to me. I can do it in an hour.

[2022-10-11 14:17] amitanshusahu opened #133 "Redesigning the Login page"
### 🎇 Description

### there is no use of a nav bar or a buy now button in the login page
the user has come to register/login so no use of a by now or the nav ..
![image](https://user-images.githubusercontent.com/83657737/195115775-2049b0c6-d17e-4ab4-9d2f-7704dc680c69.png)

### 🖼 Screenshots

_No response_

[2022-10-11 14:17] amitanshusahu commented on #133
@KiranAminPanjwani  i would like to work on this

[2022-10-11 15:03] Arjundotadex opened #135 "Redesigning PrivacyPolicy page"
### 🎇 Description

The privacy policy page is not up to the mark. ILL adds font size, color, type, indentation, and many more. I'll add more images and make a few more changes with the help of bootstrap(if allowed). If not allowed to use bootstrap then ill stick to the HTML itself.

### 🖼 Screenshots

_No response_

[2022-10-11 17:16] ranak19 commented on #54
Hello, can you please assign me for this? I would like to work on it.

[2022-10-11 19:06] #98 closed

[2022-10-11 19:06] KhanyaMateta commented on #135
I would like to take this issue. Do you you have any specific designs that you would like me to implement?

[2022-10-12 03:15] Mahak008 commented on #130
Kindly assign this issue to me @KiranAminPanjwani

[2022-10-12 04:10] riteshyadav27 opened #136 "Sign In with Google"
### 🎇 Description

Want to add "Sign in with Google" Button in Login Page

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/90106115/195247856-ab19f828-679c-405a-b619-ec7f5521c0a2.png)

[2022-10-12 04:11] riteshyadav27 commented on #136
@KiranAminPanjwani I can improve it. Please assign me the task.

[2022-10-12 04:14] riteshyadav27 commented on #136
@KiranAminPanjwani I want to improve it. Please assign me the task.

[2022-10-12 09:47] pranavhole commented on #132
Hey, I want to work on this issue For the hacktoberfest, Can you assign this to me?

[2022-10-12 09:48] pranavhole commented on #131
Hey, I want to work on this issue can you assign this to me?

[2022-10-12 10:53] AnshuPathak-88825 commented on #97
pls merge the issue

[2022-10-12 16:46] KiranAminPanjwani commented on #118
Try Light Brown or a little dark Sandy Color.

[2022-10-12 16:47] KiranAminPanjwani commented on #120
Sure, go ahead!😊

[2022-10-12 16:48] KiranAminPanjwani commented on #121
@Aarav238 Sure, go ahead!😊

[2022-10-12 16:49] KiranAminPanjwani commented on #124
But there are no such socials handles for this page.

[2022-10-12 16:50] KiranAminPanjwani commented on #125
Sure, go ahead!😊

[2022-10-12 16:51] theanimator20 commented on #120
Ok thanks for assigning me this issue i would work on this and get back to u soon

[2022-10-12 16:52] KiranAminPanjwani commented on #126
I'm sorry, I don't want to make these changes. Kindly try to find other bugs/issues. For example: Try ti fix sign-in/sign-up form.

[2022-10-12 16:52] #126 closed

[2022-10-12 16:53] KiranAminPanjwani commented on #130
@Mahak008 Please go ahead! 😊

[2022-10-12 16:54] KiranAminPanjwani commented on #131
Kindly provide a brief description or reference screenshots for the changes you want to make.😊

[2022-10-12 16:56] KiranAminPanjwani commented on #133
How will the user go back to the home page then?

[2022-10-12 16:58] KiranAminPanjwani commented on #135
@Arjundotadex Bootstrap is a good idea. Try to use awesome images.

[2022-10-12 17:45] amitanshusahu commented on #133
@KiranAminPanjwani , you are correct, but if we consider some of the major website like **amazone** or say **google**, there we are taken to a login page, after providing  correct credentials when we click the **login button** the site **automatically redirects** to the **home** page.

 well that would be some **backend** work 😅 , but it can be done in the **frontend** also using **js**, and the c

[2022-10-12 19:35] AnshuPathak-88825 opened #138 "Improve search and also make cursor pointer"
### 🎇 Description

Pls assign me this issue

### 🖼 Screenshots

![image](https://user-images.githubusercontent.com/78332454/195431969-5aa4cd3e-7db8-4577-9c94-d38e377df4d4.png)

[2022-10-12 19:36] AnshuPathak-88825 commented on #138
@KiranAminPanjwani pls assigne me this issue

[2022-10-12 22:13] shubhsardana29 opened #139 "Improving loader"
### 🎇 Description

The loader that can be seen on the products.html page does not have an appealing appearance. Its size can be reduced, it can be made into a full circle, and the -webkit- prefix may be used for browsers that do not support animation and transform attributes. These are all ways that it can be enhanced.

### 🖼 Screenshots

![Screenshot 2022-10-13 at 3 33 01 AM](https://user-images.

[2022-10-12 22:41] shubhamjain1922 commented on #139
Please assign this issue to me. I would like to work on it.

[2022-10-12 22:45] shubhsardana29 commented on #139
i'm working on it. Please assign me @KiranAminPanjwani

[2022-10-13 08:12] Arjundotadex commented on #135
yes, I'll use bootstrap only

[2022-10-13 08:55] smashcoder commented on #125
Hello, Can I help you out with this issue?

[2022-10-13 14:42] ratanrathour5 commented on #118
Please assign this to me I will use the user friendly colour which is the best practice and user friendly

[2022-10-13 14:44] Vineet-0 commented on #118
I am working on it

[2022-10-13 14:45] ratanrathour5 commented on #136
Please assign me

[2022-10-13 15:23] SaiSantosh2209 commented on #124
I can add default links if you want.

[2022-10-13 18:49] Abhay5855 commented on #138
@KiranAminPanjwani  can you assign me this issue please

[2022-10-13 18:50] Abhay5855 commented on #116
@KiranAminPanjwani  can you assign me this issue?

[2022-10-13 18:51] Abhay5855 commented on #94
@KiranAminPanjwani Can you assign me this issue

[2022-10-13 18:52] Abhay5855 commented on #41
@KiranAminPanjwani  can I take up this task

[2022-10-14 11:21] SreenikaMyakala commented on #131
I think someone already added the effects, i wanted to add rounded social media icons and hover effect to them

[2022-10-14 15:33] #33 closed

[2022-10-14 15:33] #32 closed

[2022-10-14 16:05] manishgupta416 commented on #130
Can you assign to me?

[2022-10-14 16:07] manishgupta416 commented on #118
Can you please assign to me?

[2022-10-14 16:08] manishgupta416 commented on #115
Can you please assign to me

[2022-10-15 09:42] Samaresh-Das commented on #95
Hello, can you please kindly merge the PR? Thanks. #128

[2022-10-15 09:43] Samaresh-Das commented on #96
Hello, can you please kindly merge the PR? Thanks. #129

[2022-10-17 11:48] SaiSantosh2209 commented on #125
@KiranAminPanjwani  can you please merge my PR

[2022-10-18 09:25] Wangata opened #148 "Documentation"
### 🎇 Description

Found an error trying to push my changes yesterday, on the git push, its a small one but its vital would like to change it

### 🖼 Screenshots

_No response_

[2022-10-22 16:37] abhay-raj19 opened #149 "I want to add right to left color swap hovering effect on the top nav bar."
### 🎇 Description

» I want to add the left to right color swaping hovering effect on the nav bar content.
   which will make it more interactive and good looking on hover.

   **Before:**

<img width="448" alt="image" src="https://user-images.githubusercontent.com/96302417/197350749-a66a6e75-eac6-416b-aea9-172fe28d15e2.png">

   **After:**

![ezgif-2-d9c5ecdd9d](https://user-images.githubusercont

[2022-10-23 16:17] Aditya-Harsh commented on #125
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.

[2022-10-23 16:18] Aditya-Harsh commented on #121
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.

[2022-10-23 16:18] Aditya-Harsh commented on #124
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.

[2022-10-23 16:18] Aditya-Harsh commented on #116
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.

[2022-10-23 16:19] Aditya-Harsh commented on #99
Hi there,
I have experience working in web development domain and would love to work on this issue.
Please assign it to me.

[2022-10-23 18:41] vaibhavpromax commented on #115
Can you kindly assign this issue to me

[2022-10-25 12:58] #135 closed

[2022-10-26 05:40] bilalzhd opened #150 "Remove the unnecessary console.log"
### 🎇 Description

There is a console.log on the custom js which is printing some numbers whenever the users scrolls so I want to fix that.

### 🖼 Screenshots

![hack](https://user-images.githubusercontent.com/88459741/197943948-6796026a-1449-4c85-9eab-9a5d10c5013b.PNG)

[2022-10-26 17:13] yashjoshi-dotcom commented on #132
Closed due to lack of comments from the repo owner

[2022-10-26 17:13] #132 closed

[2022-10-27 13:19] Samaresh-Das commented on #95
Hello, there are only some days left in hacktoberfest 2022. Can you please accept the PR?

[2022-10-28 09:57] kalosFestus opened #152 "Fixed Navbar and Automatically updated copywrite year"
### 🎇 Description

Hello @KiranAminPanjwani , I think it will be good if the navbar can be fixed to the top even as users scroll, and also make the copywrite year updated automatically to avoid having to manually update the copywrite year in subsequent years, I could work on it if approved and assigned. Thanks

### 🖼 Screenshots

_No response_

[2022-10-28 12:15] Vanshiii203 opened #153 "[FEATURE] Add content to about us section"
### 🎇 Description

I would like to Add content to about us section

### 🖼 Screenshots

![Screenshot (508)](https://user-images.githubusercontent.com/94471189/198584660-0d5fd6a8-b7b7-4bf5-bc2e-b29aa638d407.png)

[2022-10-28 12:17] Vanshiii203 opened #154 "[FEATURE] Add a FAQ section"
### 🎇 Description

I would like to Add a FAQ section

### 🖼 Screenshots

_No response_

[2022-10-29 03:19] Vanshiii203 commented on #153
@KiranAminPanjwani plz assign me this issue

[2022-11-05 11:55] #95 closed

[2022-11-05 12:07] #131 closed

[2022-11-05 12:10] #121 closed

[2022-11-05 12:14] #130 closed

[2022-11-05 12:23] #150 closed

[2022-11-09 16:36] prakhar-1005 commented on #138
@KiranAminPanjwani can you please assign this issue to me? I would like to work on it.

[2022-11-09 16:44] prakhar-1005 opened #157 "[FEATURE] Font type of the list in Follow Us section"
### 🎇 Description

The font type of the Follow Us section is in serif and it does not look appealing at all. I would like to change it.

### 🖼 Screenshots

![Screenshot (62)_LI](https://user-images.githubusercontent.com/94559623/200889651-f5932334-33a0-40bd-9584-b75f2958e9bd.jpg)

[2022-11-09 16:44] #157 closed

[2022-11-13 10:41] op-amateur commented on #117
Hello. Please assign this issue to me.

[2022-11-24 03:16] milanshresta opened #158 "Button Inconsistent"
### 🎇 Description

I've seen the inconsistent of Button Design in whole page. It's not good practice in e-commerce.

### 🖼 Screenshots

_No response_